<!--Link CSS Styling-->
<link rel="stylesheet" href="signupwindow.component.css">

<!--Rewards benefits (implemented as a grid)-->
  <div class="container text-center" style = "padding-top: 70px;"> 
    <div class="row row-cols-auto justify-content-center">
      <div class="col">
        <img src="https://www.dunkindonuts.com/content/dam/dd/img/rebranding/homepage/Path%20413.svg">
        <h5 style="font-family: dunkinBold;">Earn on Every Run</h5>
        <h6 style="font-family: dunkinStandard;">$1 = 5 points. Every 200 points earns you</h6>
        <h6 style="font-family: dunkinStandard;">a free beverage. Plus,</h6>
        <h6 style="font-family: dunkinStandard;">get exclusive bonus-point offers.</h6>
      </div>

      <div class="col">
        <img src="https://www.dunkindonuts.com/content/dam/dd/img/rebranding/homepage/Group%20470.svg">
        <h5 style="font-family: dunkinBold;">Pay Any Way</h5>
        <h6 style="font-family: dunkinStandard;">Pay with a debit/credit card, cash or</h6>
        <h6 style="font-family: dunkinStandard;">an enrolled Dunkin' Card to unlock</h6>
        <h6 style="font-family: dunkinStandard;">rewards and offers.</h6>
      </div>

      <div class="col">
        <img src="https://www.dunkindonuts.com/content/dam/dd/img/rebranding/homepage/REWARDED%20ICON.svg">
        <h5 style="font-family: dunkinBold;">Check Out Faster</h5>
        <h6 style="font-family: dunkinStandard;">Whether you’re stopping in or</h6>
        <h6 style="font-family: dunkinStandard;">ordering ahead, load funds to your</h6>
        <h6 style="font-family: dunkinStandard;">account to save time on your run.</h6>
      </div>
      

    </div>
  </div>

  <!--Buttons (implemented as a button group)-->

  <div class="btn-group-lg" role="group" aria-label="Large button group">
    <button type="button" class="buttonStyle1">Sign Up</button>
    <button type="button" class="buttonStyle2">Learn More</button>
  </div>