<html>
<head>
  <link rel="stylesheet" href="secondnavbar.component.css">
</head>

<ul class="nav justify-content-center">

  <!-- Menu button -->
  <button type="button" class="secondformatbutton">MENU</button>

  <!-- Locations button-->
  <button type="button" class="secondformatbutton">LOCATIONS</button>
  <!-- Delivery button-->
  <button type="button" class="secondformatbutton">DELIVERY</button>

  <!--Dunkin Button-->
  <button type="button" class="dunkinbutton"></button>

  <!-- DD Perks button-->
  <button type="button" class="secondformatbutton">DD PERKS</button>

    <!-- Dunkin' Card button-->
    <button type="button" class="secondformatbutton">DUNKIN' CARD</button>

    <!-- Shop button-->
 <button type="button" class="secondformatbutton">SHOP</button>

</ul>