<html>
<head>
  <link rel="stylesheet" href="secondnavbar.component.css">
</head>

<ul class="nav justify-content-center">

  <!-- Menu button -->
  
  <button type="button" class="secondformatbutton">
    <a routerLink="/menuLayoutComponent">MENU </a>
  </button>

  <!-- Locations button-->
  <button type="button" class="secondformatbutton">
    <a routerLink="/locationsLayoutComponent">LOCATIONS </a>
  </button>
  <!-- Delivery button-->
  <button type="button" class="secondformatbutton">
    <a routerLink="/deliveryLayoutComponent">DELIVERY </a>
  </button>

  <!--Dunkin Button-->
  
    <a routerLink="/homeComponent"> 
      <button type="button" class="dunkinbutton">
      </button> 
    </a>
  

  <!-- DD Perks button-->
  <button type="button" class="secondformatbutton">
    <a routerLink="/DDPerksLayoutComponent">DD PERKS </a>
  </button>

    <!-- Dunkin' Card button-->
    <button type="button" class="secondformatbutton">
      <a routerLink="/dunkinCardLayoutComponent">DUNKIN' CARD </a>
    </button>

    <!-- Shop button-->
 <button type="button" class="secondformatbutton">
  <a routerLink="/shopLayoutComponent">SHOP </a>
 </button>

</ul>