
  <head>
    <link rel="stylesheet" href="cardslabexample.component.css">
  </head>

  <div class="card text-center">
    <img class="card-img" src={{img}} alt="Card image">
    <div class="card-img-overlay">
    <div class="card-body">
      <h1 class="head1">{{cardTitle}}</h1>
      <h1 class="head2">{{desc}}</h1>
      <h5 class="head3">{{price}}</h5>
      

      <div class="btn-group-lg" role="group" aria-label="Large button group">
        <button type="button">
          <img src={{buttonIMG1}} style="width: 150px;height: 35px;" >
        </button>
        <button type="button"> 
          <img src={{buttonIMG2}} style="width: 150px;height: 35px;">
        </button>
      </div>

    </div>
  </div>
  </div>