<head>
  <link rel="stylesheet" href="topnavbar.component.css">
</head>

<nav class="navbar-expand">
<ul class="navbar-nav">

  <!-- Dropdown menu-->
  <div class="dropdown ms-auto">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:white; color: rgb(7, 7, 7); font-family: Arial Bold, Helvetica, sans-serif; border-color: rgb(185,31, 80); border-radius: 25px; margin-left: 10px; margin-right: 10px;" >
              Careers       
          </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Working at Dunkin'</a></li>
      <li><a class="dropdown-item" href="#">Apply Now</a></li>
      <li><a class="dropdown-item" href="#">Corporate Oppurtunities</a></li>
    </ul>
  </div>
  
  

  <!-- Sign Up Button-->
  <button type="button" class="signupbutton">Sign Up</button>

  <!-- Sign In Button-->
  <button type="button" class="signinbutton">Sign In</button>
</ul>
</nav>