<link rel="stylesheet" href="californiarewards.component.css">

<div class="card text-center">
    <div class="card-body">
        <h2 style = "font-family: dunkinBold; color:rgb(239, 106, 0);">
            DUNKIN'
        </h2>
        <h2 style = "font-family: dunkinBold; color:rgb(200, 54, 98);">
            REWARDS
        </h2>
        <h3 style = "font-family: dunkinStandard">
            is now available in California.
        </h3>
        <button type="button" class="buttonStyle1">LEARN MORE</button>

        <hr />
    </div>
  </div>