<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.dunkindonuts.com/content/dam/dd/img/menu-updates-global-nav/shop_globalnav.png" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          

            <div class = "container">
                <div class = "row">
                    <div class = "col">
                        <h6 style="font-family: dunkinBold;">BOTTLED ICED COFFEE</h6>
                        <p style="font-family: dunkinStandard;">Learn more about our delicious,</p>
                        <p style="font-family: dunkinStandard;">ready-to-drink iced coffee and</p>
                        <p style="font-family: dunkinStandard;">where to buy it.</p>

                    </div>

                    <div class = "col">
                        <h6 style="font-family: dunkinBold;">CREAMERS</h6>
                        <p style="font-family: dunkinStandard;">Find a grocer near you that</p>
                        <p style="font-family: dunkinStandard;">carries your favorite Dunkin'</p>
                        <p style="font-family: dunkinStandard;">Creamer.</p>
                    </div>


                    <div class = "col">
                        <h6 style="font-family: dunkinBold;">DUNKIN' AT HOME</h6>
                        <p style="font-family: dunkinStandard;">Find a grocer near you that </p>
                        <p style="font-family: dunkinStandard;">carries your favorite varieties in</p>
                        <p style="font-family: dunkinStandard;">bags or K-Cup Pods.</p>
                    </div>

                </div>
            </div>
        </div>
      </div>
    </div>
  </div>