<!--NAVIGATION BARS (LAB 1)-->

<!--Setup very first navigation bar-->
<app-topnavbar></app-topnavbar>

<!--White space-->
<div>
    <h4> &nbsp;    </h4>
</div>

<!--Setup second navigation bar-->
<app-secondnavbar></app-secondnavbar>

<!--White space-->
<div>
    <h6> &nbsp;    </h6>
</div>

<!--Setup third navigation bar-->
<app-thirdnavbar></app-thirdnavbar>

<!--White space-->
<div>
    <h6> &nbsp;    </h6>
</div>



<!--2 ADDITIONAL COMPONENTS (LAB 2)-->

<!--DD Perks Card-->
<app-ddperkscard></app-ddperkscard>

<!-- Sign Up Rewards Window-->
<app-signupwindow></app-signupwindow>