<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.dunkindonuts.com/content/dam/dd/img/menu-updates-global-nav/twodunkincards-scanpay.svg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          

            <div class = "container">
                <div class = "row">
                    <div class = "col">
                        <h6 style="font-family: dunkinBold;">GET A DUNKIN' CARD</h6>
                        <p style="font-family: dunkinStandard;">Personalize a Dunkin' Card and</p>
                        <p style="font-family: dunkinStandard;">send it instantly. Need 50 or</p>
                        <p style="font-family: dunkinStandard;">more? Purchase in bulk!</p>

                    </div>

                    <div class = "col">
                        <h6 style="font-family: dunkinBold;">MANAGE DUNKIN' CARD</h6>
                        <p style="font-family: dunkinStandard;">Make changes to your account</p>
                        <p style="font-family: dunkinStandard;">and Dunkin' Card or register a</p>
                        <p style="font-family: dunkinStandard;">new Dunkin' Card.</p>
                    </div>


                    <div class = "col">
                        <h6 style="font-family: dunkinBold;">CHECK OR ADD VALUE</h6>
                        <p style="font-family: dunkinStandard;">Make every Dunkin run easier</p>
                        <p style="font-family: dunkinStandard;">by loading value on your</p>
                        <p style="font-family: dunkinStandard;">Dunkin' Card.</p>
                    </div>

                </div>
            </div>
        </div>
      </div>
    </div>
  </div>