
<div class = "card">
    <div class = container>
        <div class = "row">
            <div class = "col">
               <img src = "https://www.dunkindonuts.com/content/dam/dd/img/rebranding/delivery/DunkinDelivers_Desktop.svg">
            </div>
            <div class = "col">
                <img src = "https://www.dunkindonuts.com/content/dam/dd/img/rebranding/delivery/DeliveryImage_Desktop.png">
            </div>
        </div>
    </div>

    <div class = "padding"></div>
    
    <div>
        <h3 style="text-align: center;">Enter your location to find who delivers Dunkin' in your area.</h3>
    </div>
  
    <div class = "padding"></div>

    <div class = "center">
    <div class="input-group" style="width: 40%;">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
        
      </div>
    </div>

    <div class = "padding"></div>

      <div class = "container">
          <div class = row>
              <div class = col>
                  <img src = "https://www.dunkindonuts.com/content/dam/dd/img/rebranding/delivery/GrubHub_new_desktopTablet.svg">
                  <div class = "link-secondary" style="text-align: center;">Order Now</div>
              </div>

              <div class = col>
                <img src = "https://www.dunkindonuts.com/content/dam/dd/img/rebranding/delivery/UberEatsDesktop.svg">
                <div class = "link-secondary" style="text-align: center;">Order Now</div>
            </div>

            <div class = col>
                <img src = "https://www.dunkindonuts.com/content/dam/dd/img/rebranding/delivery/DoordashDesktop.svg">
                <div class = "link-secondary" style="text-align: center;">Order Now</div>
            </div>
          </div>

      </div>


</div>