<div class="card">
    <img src="https://www.dunkindonuts.com/content/dam/dd/img/loyalty/splashpage/DunkinRewards_Header_img_desktop.png" class="card-img">
    <div class="card-img-overlay">
      <h1 class="card-body" style="text-align: center; font-family: dunkinBold; color: rgb(200,54,98) ;">DUNKIN' REWARDS</h1>
     <h1 class ="card-body" style="text-align: center; font-family: dunkinBold;">A NEW WAY TO RUN</h1>
    </div>
  </div>

  <div class ="card">
      <h6 class = "card-body" style="text-align: center; font-family: dunkinStandard;">Runnin' has its rewards. Join Dunkin' Rewards to earn your choice of free food and drinks,</h6>
      <h6 class = "card-body" style="text-align: center; font-family: dunkinStandard;">unlock Boosted Status to earn points faster and score members-only exclusive offers.</h6>
  </div>

  <div class = "container">
      <div class = "row">
          <div class = "col" style="text-align: center;">
            <button type = "button" class = "signinbutton">JOIN NOW</button>
          </div>
          <div class = "col" style="text-align: center;">
              <button type = "button" class = "signupbutton">SIGN IN</button>
          </div>
      </div>
  </div>